<div class="container">
    <div class="row m-5">
        <div class="col">
            <MudStack Row>
                <MudText>Cron Expression</MudText>
                <MudTextField @bind-Value="@this.cronExpression" ReadOnly="@true" />
            </MudStack>
        </div>
    </div>
    <div class="row m-5">
        <div class="col">
            <MudStack Row>
                <MudText>Schedule Type</MudText>
                <MudSelect T="ScheduleTypes" AnchorOrigin="@Origin.BottomCenter" @bind-Value="@this.selectedScheduleType" >
                    @foreach (var type in this.scheduleTypes)
                    {
                        <MudSelectItem Value="@type" />
                    }
                </MudSelect>
            </MudStack>
        </div>
    </div>
    <div class="row m-5">
        <div class="col">
            @switch(this.selectedScheduleType)
            {
                case ScheduleTypes.Daily:
                    {
                        <DailyExpressionBuilder OnTimeChanged="@this.DailyExpressionBuilderTimeChangedHandler" />
                        break;
                    }
                case ScheduleTypes.Weekly:
                    {
                        <WeeklyExpressionBuilder OnDayTimeChanged="@this.WeeklyExpressionBuilderDayTimeChangedHandler" />
                        break;
                    }
                case ScheduleTypes.MultipleDays:
                    {
                        <MultipleDaysExpressionBuilder OnDaysTimeChanged="@this.MultipleDaysExpressionBuilderDaysTimeChangedHandler" />
                        break;
                    }
                case ScheduleTypes.Monthly:
                    {
                        <MonthlyExpressionBuilder OnDayTimeChanged="@this.MonthlyExpressionBuilderOnDayTimeChanged" />
                        break;
                    }
            }
        </div>
    </div>
</div>

<style>
    .container {
        border-style: solid;
        border-color: red;
    }
</style>
